{{#if user}}
<!--NavBar se estiver logado-->
<nav class="navbar navbar-expand-lg " style="background-color: #000000">
    <a class="navbar-brand" href="/">
        <img src="/IMG/logo-Nav.png" class="rounded" alt="..." width="85" height="32">
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="navbar-brand" style="color: whitesmoke; margin-top: 4px;" href="#">Notícias<span
                class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active text-danger" style="color: whitesmoke; margin-top: 4px;"
            href="/Usuario/Home">
            <h5>Minhas pendências</h5><span class="sr-only">(current)</span>
        </a>
        <!--Se o usuário for admin, mostra o home root-->
        {{#if user.admin}}
        <a class="nav-item nav-link active text-warning" href="/admin/usuarios"
            style="color: whitesmoke; margin-top: 4px;">
            <h5>Home root</h5>
        </a>
        {{/if}}
    </ul>

    <div class="text-right">
        <a class="navbar-brand active" href="/logout"><button class="btn btn-danger " type="submit">Log
                Out</button></a>
    </div>
</nav>

<!--NavBar se não estiver logado-->
{{else}}
<nav class="navbar navbar-expand-lg " style="background-color: #000000">
    <a class="navbar-brand" href="/">
        <img src="/IMG/logo-Nav.png" class="rounded" alt="..." width="85" height="32">
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="navbar-brand" style="color: whitesmoke;" href="#">Notícias<span class="sr-only">(current)</span></a>
    </ul>

    <div class="text-right">
        <a href="/login" class="navbar-brand active"><button class="btn btn-success">Log
                In</button></a>
        <a href="/registrar" class="navbar-brand active"><button class="btn btn-primary"
                type="submit">Registrar</button></a>
    </div>
</nav>
{{/if}}
