<div class="container">
    <a class="nav-item nav-link active text-primary" href="/Usuario/Marketing/Noticia/nova"
        style="color: whitesmoke; margin-top: 4px;">
        <h5>Marketing</h5>
    </a>
</div>

{{#each noticias}}
{{dataValues.ID}}
{{else}}
<h2>não achei</h2>
{{/each}}
