<br>
<div class="container mt-5">
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.15625rem;">
        {{{noticias.dataValues.titulo}}}
    </h1>
    <div class="card-body">
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium;"
            id="content{{dataValues.ID}}">
        </p>
        <script>
            var text = `{{{noticias.dataValues.conteudo}}}`
            document.getElementById('content{{dataValues.ID}}').innerHTML =
                marked(text);
            text = ""
        </script>
    </div>

</div>
