<div class="container">

    <!--Titulo da pagina-->
    <div class="container mt-5">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h2>Sou a pagina de pendencias do {{usuario.nome}}</h2>
            </div>
        </div>
    </div>

    <!--Corpo da pagina-->

    <div class="card text-white  mt-5 bg-secondary">
        <div class="card-body">

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


        </div>
    </div>


</div>
